.forgot-button {
    width: 20; 
    border: blank;
    background: wheat 0%;

}
.forgot-button:focus {
    width: 20; 
    border: blank;
    background: wheat 0%;
    text-style: underline;

}

.input-login{
    width: 50;
}

Horizontal{
    height: 3;
}

